body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

.ui-menu {
	width: 100px;
	position: absolute;
	left: 1100px;
	top: 40px;
}

#rtxData {
	float: left;
	margin-left: 100px;
	margin-right: auto;
	width: 470px;
}

#gPanel {
	float: left;
	margin-left: 100px;
	margin-right: auto;
	width: 470px;
}

h2 {
	text-align: center;
}

#term {
	font-family: Courier New, Courier, Lucida Sans Typewriter,
		Lucida Typewriter, monospace;
	font-size: 11px;
}

#btnHolder, #sliderTxt {
	text-align: center;
}

.error {
	color: #F00;
}

.canvas {
	background-color: #EEE;
}

#cameraImage {
	background-color: #EEE;
}

#camera {
	position: absolute;
	left: 540px;
	top: 50px;
}

.stopbutton {
	float: right;
	background-color: #f00;
	color: #FFF;
}

.btn {
	
}